name: Manual Deploy

on:
  push:
    branches:
      - '*'
  workflow_dispatch:
    inputs:
      branch:
        description: Name of the branch
        default: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # - name: Install cfn-lint
      #   run: python -m pip install --upgrade pip cfn-lint

      # # Raw template linting (local paths allowed, W3002 ignored)
      # - name: Lint raw CloudFormation templates
      #   run: cfn-lint -i W3002 templates/**/*.yml

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install cfn-lint
        run: python -m pip install --upgrade pip cfn-lint

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy CloudFormation templates
        run: bash ./do/deploy_cfn_templates.sh
