name: Manual Deploy
on:
    workflow_dispatch:
        inputs:
            branch:
                description: Name of the branch
                default: main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'
    
            - name: Install cfn-lint
              run: python -m pip install --upgrade pip cfn-lint
            # - name: Lint templates
            #   run: cfn-lint path/to/template.yaml

    deploy:
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
                aws-region: ${{ secrets.AWS_REGION }}
            - name: Deploy cfn templates
              run: bash ./do/deploy_cfn_templates.sh

            