name: MasterCI
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:
        inputs:
            branch:
                description: 'Branch to deploy'
                required: false
                default: 'main'

jobs:
    deploy:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: set up python
              uses: actions/checkout@v4
              with:
                python-version: '3.10'

            - name: Test out
              run: |
                echo "till now everything has processed well"
    